<GridLayout rows="*, auto">
    <ActionBar class="actionbar">
        <GridLayout columns="auto, *, auto">
            <Label col="0" text="Powiadomienia" fontSize="24"></Label>
        </GridLayout>
    </ActionBar>

    <ScrollView orientation="vertical">
        <FlexboxLayout flexDirection="column" *ngIf="pushNotificationsAllow && isArrayEmpty(); else noData"
            class="alert__back">
            <StackLayout class="alert__container" *ngFor="let notifi of notifications">
                <StackLayout row="1" class="alert">
                    <FlexboxLayout justifyContent="space-between" alignItems="center">
                        <Label [text]="notifi.title" class="alert__name" textWrap="true"></Label>
                        <Label text="" class="alert__horizontal__line"></Label>
                    </FlexboxLayout>
                    <Label [text]="notifi.body" class="alert__description" textWrap="true"></Label>
                    <FlexboxLayout justifyContent="flex-end">
                        <Label class="fas alert__icon" text="&#xf017;"></Label>
                        <!-- <Label class="alert__container__date"
                            [text]="'Obowiązuje od ' + (notifi.alert.valid_from | date:'dd.MM.yyyy') + ' do ' + (notifi.alert.valid_to | date:'dd.MM.yyyy')"></Label> -->
                    </FlexboxLayout>
                </StackLayout>
            </StackLayout>
        </FlexboxLayout>
        <ng-template #noData>
            <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center">
                <Label text="Brak powiadomień"></Label>
                <Label text="&#xf01e;" class="fas refresh__icon" (tap)="refresh()"></Label>
            </FlexboxLayout>
        </ng-template>
    </ScrollView>
    <AbsoluteLayout>
        <FlexboxLayout top="0" left="0" class="spinner" *ngIf="isNotificationsLoad" justifyContent="center"
            alignItems="center">
            <FlexboxLayout class="loader">
                <Label class="loader__2"></Label>
            </FlexboxLayout>
        </FlexboxLayout>

        <ns-connection-modal></ns-connection-modal>
    </AbsoluteLayout>

    <ns-bottom-nav></ns-bottom-nav>
</GridLayout>